.get_advice section {
  padding: var(--section_padding);
}

.get_advice h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border_color);
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}

.search svg {
  font-size: 1.25rem;
}

.icon_and_input {
  display: flex;
  align-items: center;
}

.icon_and_input svg {
  margin-right: 1rem;
}

.icon_and_input input {
  outline: none;
}

.icon_and_input input::placeholder {
  font-size: 16px;
}

.professional {
  display: flex;
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--border_color);
}

.image {
  width: 3rem;
  margin-right: 1rem;
}

.details p {
  color: #35548b;
  font-weight: 500;
}

.details span {
  font-size: 14px;
  color: var(--light_gray);
}
