html,
body {
  max-width: 428px;
  margin: 0 auto;
  min-height: 100vh;
  font-weight: 400;
  border-left: 1px solid rgb(250, 250, 250);
  border-right: 1px solid rgb(250, 250, 250);
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #666;
  --light_gray: #cccccc;
  --blue: #132642;
  --border_color: #e7e9ec;
  --light_blue: #81a3be;
  --almost_white: #fafafa;
  --section_padding: 2.5rem;
}

*,
html,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
  max-width: 428px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Inter", sans-serif;

  text-rendering: optimizeLegibility;
  border-left: 1px solid rgb(250, 250, 250);
  border-right: 1px solid rgb(250, 250, 250);
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
}

h1,
h2 {
  line-height: 1.5em;
}

p,
a,
li,
blockquote {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
}

textarea {
  resize: none;
  font-family: "Inter", sans-serif;
}
