.home_page {
  display: flex;
  flex-direction: column;
  padding: var(--section_padding);
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_arrow,
.right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background: var(--border_color);
  transition: all 150ms ease-in-out;
}

.left_arrow {
  rotate: 180deg;
}

.disabled {
  background: var(--almost_white);
}

.disabled svg {
  color: var(--border_color);
}

.top p {
  font-weight: 600;
  margin: 0rem 2rem;
}

.breakfast,
.lunch,
.dinner {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--border_color);
}

.add_item {
  padding: 1rem 2rem;
  border: none;
  background: var(--light_white);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 3rem 0rem;
  align-self: center;
}

.add_item svg {
  margin-right: 0.5rem;
}
