.meal_plan section {
  padding: var(--section_padding);
}

.meal_plan h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border_color);
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}

.search svg {
  font-size: 1.25rem;
}

.icon_and_input {
  display: flex;
  align-items: center;
}

.icon_and_input svg {
  margin-right: 1rem;
}

.icon_and_input input {
  outline: none;
}

.icon_and_input input::placeholder {
  font-size: 16px;
}

.feature_image {
  margin-bottom: 1rem;
}

.feature_image img {
  border-radius: 0.5rem;
}

.nutritionist_details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.nutritionist_image {
  width: 2.5rem;
  margin-right: 1rem;
}

.meal_plan_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.weeks_and_recipes {
  display: block;
  font-size: 14px;
  color: var(--light_gray);
  margin-bottom: 1rem;
}

.tag {
  display: inline-block;
  font-size: 12px;
  color: var(--blue);
  background: var(--light_white);
  padding: 6px 12px;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 14px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 2.75rem;
  border-radius: 2rem;
}

.button:first-child {
  color: var(--blue);
  background: var(--light_white);
}

.button:last-child {
  color: var(--almost_white);
  background: var(--blue);
}
