.nutritionist {
  min-height: 100vh;
  padding: 2rem 1rem;
}

.nutritionist-list {
  display: grid;
  gap: 0.5rem;
  padding-top: 1rem;
}

.nutritionist-item {
}

.nutritionist-link {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;

  color: black;
  padding: 1rem .75rem;
}
