.register {
  background: var(--blue);
  padding: var(--section_padding);
}

.register section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.register p {
  color: var(--white);
  text-align: center;
}

.logo,
.title {
  margin-bottom: 1rem;
}

.title {
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 14px;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.agreement {
  display: flex;
  align-items: flex-start;
}

.agreement input {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.agreement p {
  text-align: left;
}

.login a {
  color: var(--light_blue);
}
