.search_form {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border: 1px solid var(--border_color);
}

.search_form svg {
  font-size: 1.25rem;
}

.search_form input {
  width: 90%;
  outline: none;
  font-size: 1rem;
  padding: 0.8rem 0rem;
  border-right: 1px solid var(--border_color);
}

.search_form input::placeholder {
  font-size: 16px;
}
